; config.ini

[DATABASE]
HOST = db-host.cg2e5lmmel4p.ap-southeast-1.rds.amazonaws.com-or-specify-ip-address
PORT = 5432
NAME = source_database_name
USER = username_of_database
PASSWORD = password_of_database
INSTANCENAME = "gcloud_db_name"

[CLOUDSTORAGE]
BUCKET = bucket-name
BUCKET_SUBFOLDER = /path-to-file
